.banner_about {
    position: relative;
    background-position: center;
    background-size: cover;
    max-width: 1240px;
    padding-inline: 3em;
    min-height: 140px;
    background-image: url("https://s3-alpha-sig.figma.com/img/56fa/e17e/b9995860bb6384a77ca7dc9bf52da3be?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XlAIE~APgS35VHQCgQgGhopy3AkJoNXB3MNfQ6b-OT9qNcJYyTNDIcmS24s6JtcPHJPX~9sXD2JQXuT4BwheLvROtra3slMUMJ22lWi4OTs1nfds6Ba4mCVouc2tqLzpmm4~6nnHqXu7SfD6CnKNQ65lnDVmNLUValgKNIcasdiySSBshzXuxOEjyWmr5IDbMRCQkhDktUqs9UKIdf4Asy6p9tg8nwtM-Eb6Uy~8YLkpEdQQ2iUjlK~-ByHfxQ3A8-~9RBRoPUPtLzU3KyhVzElh~AAK9aljQPLXbsyEAKEJ3xTOa1GeuTgLR0gUBTr7X6JW7LD3Tmd1pSc~xEI4iw__");
    max-width: 100%;
    margin: auto;
    border-radius: 1em;
    display: grid;
    place-items: center;
    color: white;
    margin-bottom: 2em;
}

.banner_about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .description_content {
        border-radius: 0.7em;
    }

    .description_header {
        border-radius: 0.7em;
    }
}