.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    min-height: 100px;
    display: grid;
    place-items: center;
    height: 10em;

}
  
  