  html {
      position: relative;
      min-height: 100%;
  }

  .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: black;
      color: white;
      padding: 22px;
      text-align: center;
      height: 130px;
      display: grid;
      place-items: center;
      @media screen and (width <=768px) {
        height:80px;
        }
  }
  .footer_text br {
    display: none;
  }