.main {
    margin-bottom: 100px;
    font-family: "Montserrat";
}

.children_container {
    max-width: 1240px;
    margin: 0 auto;

    @media screen and (width <=768px) {
        margin: 0 12px;
    }
}