p {
    margin-block: 0;
}

.apartment_description {
    width: 80%;
    justify-content: center;
    @media screen and (width <=768px) {
        width: 100%;        
    }
}

.description_header {
    background-color: #ff6060;
    color: white;
    padding: 0.2em 1em;
    border-radius: 0.7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    i {
        font-size: 2em;
        color: white;
    }
}

.description_content {
    background-color: rgb(239 239 239);
    color: black;
    padding: 1em;
    position: relative;
    top: -0.3em;
    z-index: -1;
    height:max-content;
    font-size:medium;
    border-radius: 1em 1em 0em 0em;
}