.grid {
    background-color: rgba(0, 0, 0, 0.119);
    min-height: 50vh;
    border-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em;
    justify-content: space-around;
    
    @media screen and (width<768px) {
        .grid {
            justify-content: center;
            background-color: white;
            padding: 1 0;
        }
    }
}