.banner {
    position: relative;
    background-position: center;
    background-size: cover;
    padding-inline: 3em;
    min-height: 140px;
    background-image: url("https://s3-alpha-sig.figma.com/img/4706/e7dd/e270fc8fc902a1eb738458e7b29c1899?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=L0Gi6GE89V2tJxMNqzjPR-wTZOqdPVId1nT1Bl-GehezudLQGmb8Zi8nvHJ7LyXjHz3AzIK5cuUurC10qzPiA9c05TqjXq6ciPMvUK~RbTYU2tEigaPmhC7R6lFYdBZYUsou~KhBApx190p7d1wAKs62hPLufJloyJH2ExgeSwl24Kh1x0r3vb1gp71N7bHDj3FpUjh86ZVwLvx3DjT4ziOYopspWWEf0yhJQpgXJQBjvQcMChPm2I-49BueY7JccF09qqRckHrJiRqWljAtocmi6VPgtuKE8EAP3Ow7YIUKuC17OQMeUP2VIfQ88fhKCorDZKgcaF4qfIwMFdvubg__");
    max-width: 1240px;
    margin: auto;
    border-radius: 2em;
    display: grid;
    place-items: center;
    margin-bottom: 2em;
    color: white;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.6);
}

.banner h2 {
    position: relative;
    z-index: 1;
}